.footer {
    max-width: 700px;
    margin: 0 auto;
    background-color: hsl(161, 39%, 33%, 0.9);
    color: whitesmoke;
    border-radius: 5px;
   }

.footer__paragraph {
    font-style: italic;
    text-align: left;
    }

.footer__paragraph--currency {
    font-style: normal;
    font-weight: 700;
    margin-top: 0px;
    text-align: center;
}



